h1
{
    color: orangered;
    width: 35%;
    background-color: limegreen;
    border: solid black 2px;
    border-radius: 30px;
    padding: 2%;
}

body
{
    font-family: "Segoe Script MT", cursive;
    background-color: greenyellow;
}

table
{
    border-radius: 30px;
    padding: 2%;
}

table, td
{

    border: solid black 2px;
    text-align: center;

}

td
{
    border-collapse: collapse;

}

a.Kustuta
{
    font-size: 10pt;
    color: white;
    text-decoration: none;
    padding: 3%;
    border-radius: 30px;
    background-color: red;
}

input[type=submit]
{
    border-radius: 30px;

}

form table td
{
    border-style: none;
}