input[type=radio] + label:hover
{
    padding: 1px;
    font-size: 17px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}
input[type=button]{
    font-family: "Script MT Bold", cursive;
    border-style: solid;
    border-radius: 10px;
    border-color: darkgreen;
}
input[type=number]{
    font-family: "Script MT Bold", cursive;
    border-style: solid;
    border-radius: 10px;
    border-color: darkgreen;
}
input[type=button]:hover{
    padding: 3px;
    font-size: 17px;
}